/CMakeLists.txt
~*
*~
.o
*.pyc

.vscode/*
!.vscode/c_cpp_properties.json

src/tts_package/resource/*
src/tts_package/resource/config.json
src/tts_package/resource/model.pth
src/tts_package/resource/output.wav

build
devel
log
install

.vagrant

.goutputstream-FI3LZ1
.goutputstream-GS9RZ1
4913
*.db
*.sqlite3
*.prof
.venv/*
src/speech_recognizer/resource
src/chatbot/chatbot/db.sqlite3
src/db.sqlite3
*.wav
*.bin
