[submodule "src/dynamixel-workbench"]
	path = src/dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
	branch = humble-devel
[submodule "src/dynamixel-workbench-msgs"]
	path = src/dynamixel-workbench-msgs
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench-msgs.git
	branch = humble-devel
