<launch>
  <arg name="namespace" default="/head_controller"/>
  <node ns="$(arg namespace)" name="head_controller" pkg="follow_joint_trajectory_action" type="follow_joint_trajectory_action"
        required="true" output="screen">
        <param name="trajectory_topic" type="string" value="/inmoov/joint_trajectory" />
        <!-- Todo: load from joint config file -->
        <rosparam param="joints">
          [head_pan_joint, head_roll_joint, head_tilt_joint]
        </rosparam>
  </node>
</launch>
