<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB0</param>
        <param name="baud_rate">1000000</param>
        <param name="use_dummy">true</param>
      </hardware>
      <joint name="head_jaw_joint">
        <command_interface name="position"/>
         <param name="id">11</param> 
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="head_pan_joint">
        <command_interface name="position"/>
          <param name="id">12</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="head_tilt_right_joint">
        <command_interface name="position"/>
          <param name="id">13</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="head_tilt_left_joint">
        <command_interface name="position"/>
          <param name="id">14</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="head_tilt_vertical_joint">
        <command_interface name="position"/>
        <param name="id">15</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="eyes_shift_horizontal_joint">
        <command_interface name="position"/>
          <param name="id">16</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="eyes_shift_vertical_joint">
        <command_interface name="position"/>
          <param name="id">17</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="r_shoulder_lift_joint">
        <command_interface name="position"/>
          <param name="id">18</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_shoulder_out_joint">
        <command_interface name="position"/>
          <param name="id">19</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_thumb_joint">
        <command_interface name="position"/>
          <param name="id">20</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_index1_joint">
        <command_interface name="position"/>
          <param name="id">21</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_middle1_joint">
        <command_interface name="position"/>
          <param name="id">22</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_ring_joint">
        <command_interface name="position"/>
          <param name="id">23</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="r_pinky_joint">
        <command_interface name="position"/>
          <param name="id">24</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_thumb_joint">
        <command_interface name="position"/>
          <param name="id">25</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_index1_joint">
        <command_interface name="position"/>
          <param name="id">26</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_middle1_joint">
        <command_interface name="position"/>
          <param name="id">27</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_ring_joint">
        <command_interface name="position"/>
          <param name="id">28</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="l_pinky_joint">
        <command_interface name="position"/>
          <param name="id">29</param>
          
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
    

  </xacro:macro>

</robot>